nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 40px;
  text-align: justify;
  
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-left {
  display: inline-block;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

nav .top-left .top-links {
  vertical-align: middle;
}
.header-top {
  height: 30px;
  vertical-align: middle;
  float: left;
} 

.logo {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 30px;
}

.header-top form {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 1%;
}
input[type=text] {
  border: 1px solid rgb(32,101,136);
  background: rgb(31,82,111);
  color: white;
  margin: 0 auto;
  width:550px;
  height: 30px;
  float: left;
}
#search-button {
  height: 30px;
  border: 1px solid rgb(32,101,136);;
  background: rgb(31,82,111);
  color: white;
}

.hero {
  display: block;
  padding: 20px;
  margin: 2% 50% 5% 1%;
  font-weight: lighter;
  line-height: 150%;
}

.hero a{
  padding: 5px 10px 5px 10px;
  border: solid;
  border-color: rgb(240,146,51);
  border-width: 0.5px;
  border-radius: 50px;
  text-decoration-line: none;
  background: rgb(240,146,51);

}

header {
  display: block;
  background: rgb(32,101,136);
  background-image: url("./images/city-scape.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  position: relative;
  padding-left: 10%;
  padding-bottom: 15vh;
  
  color: white;
}

header a {
  color: white;
}

header a:hover {
  color: grey;
}



#description {
  background: rgb(39,53,71)
}
.content {
  margin: 0 auto;
  width: 70%;
  height: 550px;
  padding: 20px;
  color: white;
}

.content img {
  float: left;
  margin: 0 auto;
  width: 300px;
}
 .content-desc {
   float: left;
   margin: 0 auto;
   padding: 0 0 0 0;
 }

.content-desc h1{
  line-height: 30px;
  font-weight: lighter;
}

.content-desc ul {
  line-height: 20px;
  font-weight: lighter;
}
.sign-up {
  border: none;
  padding: 5px;
  line-height: 30px;
  margin: 0 auto;
}
#signOrgs {
  padding: 2.5px 10px 2.5px 10px;
  border: solid;
  border-color: rgb(203,56,55);
  border-width: 0.5px;
  border-radius: 50px;
  text-decoration-line: none;
  background: rgb(203,56,55);
  color: white;
}

#signOrgs:hover {
  color: grey;
}

#install {
  margin: 0 auto;
  padding: 5px;
  background-image: url("./images/forklift.svg");
  background-color: rgb(32,101,136);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
  padding-left: 10%;
  padding-bottom: 15vh;
}

#install a{
  padding: 5px 15px 5px 15px;
  border: solid;
  border-color: rgb(49,68,88);
  border-width: 0.5px;
  border-radius: 50px;
  text-decoration-line: none;
  background: rgb(49,68,88);
  color:white;

}

.what-text {
  width: 150px;
  color: white;
  font-weight: lighter;
}

.center {
  margin: 0 auto;
}

.col{
  float:left;;
}

.col-3 {
  width: 33%; 
}
.service-content {
  width: 450px;
  height: auto;
  margin: 0 auto;
  align-content: center;
}
.service-box {
  text-align: center;
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2px 80px auto 80px;
  width: 33%
}

.clearfix { 
  clear: both; 
}

.service-header {
  text-align: center;
  padding-top: 10px;
}

.service-header h1 {
  color: rgb(83,88,98);
}

.service-header p {
  color: rgb(135,145,156);
}

#services a {
  color: rgb(208,74,73);
}